rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /pizzas/{document} {
      allow read: if true;
      allow write: if true; // Cambia esto por reglas más restrictivas en producción
    }
  }
}